.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 80px 170px;
}
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-section {
  display: flex;
  gap: 80px;
}
.about-right {
  
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.about-left{
  width: 45%;
}
.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
}
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.4s ease;
}
.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.08%, #b415ff 106.28%);
}
.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}
.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
.about-achievement h1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-achievement p {
  font-size: 22px;
  font-weight: 500;
}

.about-skill:hover {
  transform: perspective(500px) rotateX(10deg) rotateY(-10deg);
  box-shadow: 0 10px 20px rgba(0, 255, 255, 0.3),
    0 0 40px rgba(100, 255, 255, 0.1);
}
@keyframes flicker {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* .about-skill:hover {
    background: linear-gradient(45deg, #ae00ff, #ff00ff, #ffa200);
    background-size: 300% 300%;
    animation: holographic 3s ease;
    border-radius: 0 25px;
  }
  @keyframes holographic {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  } */
.about-achievement:hover{
     transform: scale(1.15);
     transition: 0.5s;
}

.about-left img{
  margin: 30px;
  width: 110%;
  height: 90%;  
  border-radius: 20px;
  border: 2px solid white; 
}