.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem 5vw;
}

.contact-title {
    position: relative;
    text-align: center;
}

.contact-title h1 {
    padding: 0 2rem;
    font-size: 5rem;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    max-width: 100px;
}

 .section {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
    margin: 0 40px 40px 40px;
}

.contact-left h1 {
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    color: #d8d8d8;
    font-size: 1.25rem;
    line-height: 2rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #D3d8d8;
    font-size: 1.25rem;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    width: 100%;
    max-width: 700px;
}

.contact-right label {
    color: #d8d8d8;
    font-size: 1.25rem;
    font-weight: 500;
}

.contact-right input,
.contact-right textarea {
    border: none;
    width: 100%;
    padding: 1.25rem;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit, sans-serif;
    font-size: 1.25rem;
}

.contact-right textarea {
    min-height: 200px;
    resize: vertical;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 3rem;
}

.contact-submit:hover {
    transform: scale(1.1);
}

/* -------- Responsive Media Queries -------- */

@media (max-width: 768px) {
    .contact-title h1 {
        font-size: 3rem;
    }

    .section {
        margin-top:  30px;
        flex-direction: column;
        gap: 4rem;
    }

    .contact-left h1 {
        font-size: 3rem;
    }

    .contact-left p,
    .contact-details,
    .contact-right label {
        font-size: 1rem;
    }

    .contact-submit {
        width: 50%;
        text-align: center;
    }
/*     .contact-right{
        margin: 20px;
    } */

    .contact-right input,
.contact-right textarea {
    border: none;
    width: 80%;
    padding: 1.25rem;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit, sans-serif;
    font-size: 1.25rem;
}
}

@media (max-width: 480px) {
    .contact-title h1,
    .contact-left h1 {
        font-size: 2.2rem;
    }

    .contact {
        margin: 3rem 2vw;
        gap: 3rem;
    }

    .contact-right input,
    .contact-right textarea {
        font-size: 1rem;
    }

    .contact-right {
        gap: 1rem;
    }
}
