.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}
.navbar .mypic{
    height: 100px;
    width: 100px;
}
.navbar img{
    height: 50px;
    width: 50px;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
    font-size: 22px;

}

.nav-connect{
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C55 0.36%, #B943E1) 102.06%;
    font-size: 20px;
    cursor: pointer ;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.04);
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1) 102.06%;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.nav-menu img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
   .nav-mob-open {
    display: none;
     height: 50px;
    width: 50px;
    
}
.nav-menu img{
    display: none;
    margin-top: 40px;
    height: 40px;
    width: 40px;
}


@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .navbar .mypic{
    height: 110px;
    width: 110px;

}
    .nav-connect{
        display: none;
    }
     .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        background: transparent;
        
        
    }
   
    .nav-menu img{
        display: block;
    }
     .nav-mob-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1100;
    background: transparent;
    
  }


   
   .nav-menu {
  position: fixed;
  top: 0;
  right: -350px; 
  transition: right 0.5s ease-in-out;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  background-color: #1f0016;
  width: 280px;
  height: 100%;
  z-index: 1000;
  padding-top: 60px; 
  
}
.nav-menu p{
    font-size: 20px;
}

    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}